body {
    background-color: #f8f9fa; 
}
.container {
    max-width: 40px; 
    margin-top: 30px; 
}
.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Margin bawah untuk memberi jarak */
}
.card {
    border: none; /* Menghilangkan border card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan halus */
}
.btn-custom {
    display: block;
    margin: 20px auto; /* Menyusun tombol di tengah */
    width: 20px; /* Lebar tombol */
}
